apiVersion: v1
kind: Namespace
metadata:
  name: probler-vnet2
  labels:
    name: probler-vnet2

---

apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: probler-vnet2
  name: probler-vnet2
  labels:
    app: probler-vnet2
spec:
  selector:
    matchLabels:
      app: probler-vnet2
  template:
    metadata:
      labels:
        app: probler-vnet2
    spec:
      hostNetwork: true
      containers:
        - name: probler-vnet2
          image: saichler/probler-vnet2:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 27998
          volumeMounts:
            - name: hdata
              mountPath: /data
      volumes:
        - name: hdata
          hostPath:
            path: /data
            type: DirectoryOrCreate